* {
  box-sizing: border-box;
}

body {
  background-color: #211f3e;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;

  #root {
    height: 100%;
    position: relative;
    width: 100%;

    .glob3d {
      height: 100%;
      width: 100%;
    }

    .update-button {
      background: #fff;
      border-radius: 8px;
      color: #211f3e;
      cursor: pointer;
      font-size: 1rem;
      font-weight: bold;
      left: 50px;
      padding: 10px 20px;
      position: absolute;
      top: 50px;
      z-index: 999;
    }
  }
}
