* {
  box-sizing: border-box;
}

body {
  background-color: #211f3e;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;

  #root {
    height: 100%;
    position: relative;
    width: 100%;

    .glob3d {
      height: 100%;
      width: 100%;
    }
  }
}
