* {
  box-sizing: border-box;
}

body {
  background-color: #211f3e;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;

  #root {
    height: 100%;
    width: 100%;

    .glob3d {
      height: 100%;
      width: 100%;

      .update-button {
        background: none;
        border: 1px solid #ddd;
        border-radius: 8px;
        cursor: pointer;
        font-size: 1rem;
        left: 50px;
        padding: 10px 20px;
        position: absolute;
        top: 50px;
      }
    }
  }
}
